# Node
/node_modules
/dist
/package-lock.json
/yarn.lock

# Database
/seeders
/migrations

# Platform
.DS_Store

# IDE
.idea
.vscode

# Configuration
/config/*
!/config/test.json

# Tmp
/tmp
chromedriver.log
concourse.yml
